.searchbar{
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  align-items: center;
  background: skyblue;
  height: 100vh;
}
input{
  height: 3vh;
  border-radius: 10px;
  border: none;
  position: relative;

}
.searchbar > button{
  position: absolute;
  left: 54%;
  border-radius: 10px;
  background: greenyellow;
  border: none; 
}
.App{
  background: gainsboro;
  height: 100vh;
}
.overlay{
  
  background: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80vh;
  margin: auto;
}